Repository cBioPortal/clinical-data-dictionary, pull requests merged in 2018-04, with the labels that each got.

#20 Fix bug in single attribute api endpoint
  src/main/java/org/cbioportal/cdd/model/ClinicalAttributeMetadata.java
  src/main/java/org/cbioportal/cdd/service/internal/ClinicalDataDictionaryServiceImpl.java
  src/test/java/org/cbioportal/cdd/ClinicalDataDictionaryTest.java
Labels: bug, service

#22 add ApiIgnore annotation to hide endpoint on swagger page
  src/main/java/org/cbioportal/cdd/web/ClinicalDataDictionaryController.java
Labels: controller, enhancement

#23 change to expecting ColumnHeader to be in prefLabel
  src/main/java/org/cbioportal/cdd/repository/topbraid/ClinicalAttributeMetadataRepositoryTopBraidImpl.java
Labels: bug, controller, repository

#25 standardize return from cache refresh
  src/main/java/org/cbioportal/cdd/service/ClinicalDataDictionaryService.java
  src/main/java/org/cbioportal/cdd/service/internal/ClinicalDataDictionaryServiceImpl.java
  src/main/java/org/cbioportal/cdd/web/ClinicalDataDictionaryController.java
  src/test/java/org/cbioportal/cdd/ClinicalDataDictionaryTest.java
Labels: controller

#27 add-resource-to-uri-mapping-file
  docs/resource_uri_to_clinical_attribute_mapping.txt
Labels: docs, enhancement
