Repository cBioPortal/clinical-data-dictionary, pull requests merged in 2018-08, with the labels that each got.

#34 new resource files for integration tests
  integration-tests/expected_metadata_headers.txt
  integration-tests/test-cdd-dependent-tools.sh
  integration-tests/verify_metadata_headers.py
Labels: integration-tests

#38 Updating and correcting the clincal attribute Topbraid URI mapping
  docs/resource_uri_to_clinical_attribute_mapping.txt
Labels: data

#37 Validates Topbraid and curated URIs
  scripts/validate_topbraid_uris.py
Labels: data, enhancement

#50 Update resource_uri_to_clinical_attribute_mapping.txt
  docs/resource_uri_to_clinical_attribute_mapping.txt
Labels: docs

#49 Update resource_uri_to_clinical_attribute_mapping.txt
  docs/resource_uri_to_clinical_attribute_mapping.txt
Labels: docs
